/******************************************************
 This is copied from https://github.com/ConradBailey/org-site-demo.
 Some minor modifications have been added.
 ******************************************************/

/******************************************************
 * I copied these styles from markdotto.com, who is
 * the creator of bootstrap, and I also did some
 * modification. Thanks Mark for the beautiful theme,
 * so I reserved the @mdo sign below.
 *****************************************************/

/*
                          __
     __                  /\ \
    /'_`\_    ___ ___    \_\ \    ___
   /'/'_` \ /' __` __`\  /'_` \  / __`\
  /\ \ \L\ \/\ \/\ \/\ \/\ \L\ \/\ \L\ \
  \ \ `\__,_\ \_\ \_\ \_\ \___,_\ \____/
  \ `\_____\\/_/\/_/\/_/\/__,_ /\/___/
  `\/_____/

*/

/* Body resets
   -------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    padding: 10px;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.5;
    color: #181818;
    background-color: #fff;
}
p {
    margin: 0 0 20px;
}
h1, h2, h3 {
    position: relative;
    margin: 30px 0 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: #111;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}

i, em, b, strong {
    padding-left: .1em;
    padding-right: .1em;
}
b, strong {
    font-weight: bold;
    color: #333;
}
hr {
    margin: 0;
    border: 0;
}
ul, ol {
    padding: 0;
    margin: 0 0 20px;
}
code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
    padding: 0 4px;
    margin: 0 2px;
    background-color: #f5f5f5;
    border-radius: 2px;
    color: #000;
}
pre {
    display: block;
    margin: 0 0 14px;
    padding: 15px;
    border-radius: 3px 3px 3px 3px;
    font-size: 18px;
    line-height: 28px;
    background-color: #f5f5f5;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
blockquote {
    padding: 0 0 0 20px;
    margin: 0 30px 20px -22.5px;
    color: #999;
    border-left: 8px solid #e5e5e5;
}
blockquote p:last-child {
    margin-bottom: 0;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%
}
a {
    font-weight: inherit;
    line-height: inherit;
    color: #000;
    text-decoration: none;
}
sup a:before {
    content: "[";
}
sup a:after {
    content: "]";
}
a:link, a:visited, a:hover {
    color: #f3a861;
}
a:hover {
    text-decoration: underline;
}
table {
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
    border-style: solid;
}
table td, table th {
    padding: 0 15px;
    border-style: solid;
}
table th.left, table td.left {
    text-align: left;
}
table th.right, table td.right {
    text-align: right;
}
/******************************************************/
/* body */
#container {
    margin: 0 auto;
    max-width: 850px;
}
/* head */
.masthead {
    color: #888;
}
.masthead a {
    color: #333;
}
.masthead ul {
    list-style: none;
    font-family: Helvetica, sans-serif;
    text-transform: lowercase;
}
.masthead li {
    display: inline-block;
}
.masthead li + li:before {
    display: inline-block;
    content: "\00B7 \00a0";
    color: #ccc;
}
.all-header {
    border-bottom: dashed #ccc 2px;
    margin-bottom: 20px;
}

.masthead img.avatar {
    position: relative;
    float: right;
    margin-top: -75px;
    margin-bottom: -80%;
    width: 100px;
    background-color: #fff;
}

/* title */
div.site-title {
    color: #181818;
    text-align: left;
    font-family: Helvetica, sans-serif;
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}
span.site-name {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}
div.site-title a:link,
div.site-title a:visited,
div.site-title a:hover {
    color: #f3a861;
    text-decoration: none;
}

/* post */
.post {
    position: relative;
}
.post img {
    max-width: 100%;
}
.post li {
    list-style: none outside none;
}
.post ul > li:before {
    content: "- ";
    margin-left: -1.25em;
    color: #ccc;
}
.post ol {
    counter-reset: o-list;
}
.post ol > li:before {
    content: counter(o-list) ") ";
    counter-increment: o-list;
    margin-left: -1.85em;
    color: #ccc;
}

/* special for li in pre */
.post pre li {
    list-style-type: decimal;
}

.post pre li:before {
    display: none;
}

/* meta info */
.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #999;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}

/* post listings */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.post-title {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin-left: 12px;
}
.date-time-title {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
    display: block !important;
    text-align: right;
}
.posts-list > li {
    list-style-type: none;
}


/* table of content */
#table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    border:1px solid #e1e1e8;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}

#table-of-contents h2 {
    max-width: 20em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}

#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}

/* footer */
.footer {
    margin: 20px 0 0;
    text-align: center;
    font-size: 15px;
    color: #999;
}
.footer > p {
    margin: 0;
    line-height: 1.5;
    text-align: right;
}
.footpara {
    display: inline;
}

.footer {
    border-top: dashed #ccc 2px;
    margin-top: 12px;
    padding-top: 30px;
}
/* Responsive
   -------------------------------------------------- */
@media (max-width: 760px) {
    /* Increase body padding and font-sizes */
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }
    .masthead img.avatar {
        width: 50px;
    }
    h1:before, h2:before, h3:before {
        display: inline;
    }
}


@media (min-width: 768px) {
    /* Increase body padding and font-sizes */
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }
    h1:before, h2:before, h3:before {
        display: inline;
    }

}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}


/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #bd3613; }

.str {
  color: #269186; }

.kwd {
  color: #859900; }

.com {
  color: #586175;
  font-style: italic; }

.typ {
  color: #b58900; }

.lit {
  color: #2aa198; }

.pun {
  color: #839496; }

.opn {
  color: #839496; }

.clo {
  color: #839496; }

.tag {
  color: #268bd2; }

.atn {
  color: #586175; }

.atv {
  color: #2aa198; }

.dec {
  color: #268bd2; }

.var {
  color: #268bd2; }

.fun {
  color: #FF0000; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #042029;
  padding: 10px;
  border: 1px solid #E1E1E8; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }


/* From http://mynt.uhnomoli.com */

.notice {
 font-style:italic
}
.notice>div.code {
 font-style:normal
}
.notice a {
 color:#262626
}
.notice a:hover {
 color:#262626
}
.notice .linenos {
 background-color:#d5d5d5
}
.notice-info {
 background-color:#d4dee6;
 color:#176099
}
.notice-info code {
 background-color:rgba(23,96,153,0.2);
 color:#176099
}
.notice-success {
 background-color:#e0e6d3;
 color:#5c800d
}
.notice-success code {
 background-color:rgba(92,128,13,0.2);
 color:#5c800d
}
.notice-warning {
 background-color:#e6e4d4;
 color:#80760d
}
.notice-warning code {
 background-color:rgba(128,118,13,0.2);
 color:#80760d
}
.notice-danger {
 background-color:#e6d4d4;
 color:#99171d
}
.notice-danger code {
 background-color:rgba(153,23,29,0.2);
 color:#99171d
}
.notice {
 overflow:hidden;
 margin:18px 0px;
 padding:0px 18px
}
.notice > p {
    margin: 20px 0 20px 0;
}

.api>dd {
 margin:18px;
 margin-right:0px
}
.api>dd>:first-child {
 margin-top:0px
}
.api>dd>:last-child {
 margin-bottom:0px
}
.api>dt {
 margin-top:18px;
 padding:9px
}
.api>dt>strong {
 line-height:18px
}

.api>dt {
 background-color:#e6e6e6;
 font-family:"Envy Code R","Ubuntu Mono",monospace
}
.api>dt>strong {
 font-size:13px
}
